.block-language-ActivityHistory {
  margin: 1rem 0;
}

.selectYear {
    border-color: none;
}

.HistoryBoard {
    background-color: white;
    padding: 10px;
    border-radius: 14px;
    width: auto;
    height: auto;
}

.ObsidianHistoryBlock {
    background-color: white;
    border-radius: 14px;
    width: auto;
    height: auto;
}

.selectYear {
    float: right;
    margin-bottom: 5px;
    border-color: white;
    border-radius: 14px;
}
